@model HomeViewModel
@await Html.PartialAsync("_ContentInfo")
<div class="container">
    <div class="product__title">
        <h3 class="product__title_text">Хиты продаж</h3>
    </div>
    <div class="product__row">
        @foreach (var item in Model.Products)
        {
            <div class="product__column__item">
                <div class="product__column__item__row">
                    <div class="product__column__item__row__column">
                        <img src="@item.ImgUrl" alt="Product" class="img__item">
                    </div>
                    <div class="product__column__item__row__column">
                        <p class="item__name">@item.Name</p>
                        <p class="price">@item.Price.ToString("c")</p>
                        <p>
                            <a class="button" href="/Product/AboutProduct?productId=23">Подробности</a>
                        </p>
                        <p>
                            <a class="button">В корзину</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="about__company">
    <div class="container">
        <div class="about__company__row">
            <div class="about__company__column about__company__phone">
                <ul>
                    <li>ООО «ИМВБРБ», г. Минск, ул.Скрыганова 6а, помещение 8, офис 35;</li>
                    <li>+375 17 388 60 00 - телефон для связи;</li>
                    <li>Режим работы: <span class="around__the__clock">круглосуточно</span>;</li>
                </ul>
            </div>
        </div>
    </div>
</div>
