@model MessagesError
<div class="container">
    <div class="error__column">
        <div class="error__column__row">
        @if (Model.Errors != null)
        {
            <ol>
            @foreach(var item in Model.Errors)
            {
                <li class="error">@item</li>
            }
            </ol>
        }
        else
        {
            <p>Errors is null</p>
        }
        </div>
        <div class="error__column__row">
            <a asp-action="Index" asp-controller="Home" class="button">Back to main</a>
        </div>
    </div>
</div>
