@model ProductViewModel

<div class="container">
    <div class="about__product__row">
        <div class="about__product__row__column about__product__img">
            <img src="@Model.Product.ImgUrl" alt="product" class="image__product">
        </div>
        <div class="about__product__row__column">
            <div class="about__product__name">
                <h3>@Model.Product.Name</h3>
            </div>
            <div class="about__product__order">
                <p>Тут инфа о покупке товара</p>
                <input type="button" class="button" value="В корзину">
            </div>
        </div>
        <div class="about__product__row">
            <div class="about__product__description">
                <p>Bluetooth® Smart
                Часы оснащены технологией Bluetooth®, которая предлагает энергосберегающую возможность передачи данных нажатием кнопки. С помощью Bluetooth® вы можете подключить часы к смартфону, не используя провод, и получить доступ к целому ряду полезных функций.
                Smartphone time
                Если часы подключены к смартфону, время устанавливается автоматически и отображается текущее время, так что во всем мире.
                Сверхяркая подсветка
                При нажатии на кнопку подсветки экран ярко освещается в ультрамодный цвет.
                Устойчивость к воздействию вибрации
                Модуль часов снабжен элементами из материала alphaGEL, который еще лучше защищает часы от сотрясения и вибрации. alphaGEL представляет собой гибкую силиконовую прослойку, оказывающую амортизирующий эффект.
                Ударопрочность
                Ударопрочная конструкция защищает от ударов и вибрации.
                Устойчивость к воздействию магнитного поля
                Часы созданы с защитой от воздействия магнитных полей. 
                Солнечная батарейка
                Солнечная подзаряжающаяся батарейка обеспечивает питание часов для работы.
                Прием радиосигнала (Европа, США, Япония, Китай)
                В Европе или  Северной Америке, во многих частях Канады и Центральной Америки, Японии и Китае после настройки часов на местный часовой пояс, часы будут получать радио-сигнал калибровки, гарантирующий, что они всегда будут показывать точное время. В большинстве стран переход летнее и зимнее время также обновляется автоматически. 
                Неоновый дисплей
                Светящееся покрытие обеспечивает длительную подсветку в темное время суток после короткого воздействия света. 
                Функция мирового времени</p>
            </div>
        </div>
        <div class="about__product__row">
            <div class="about__product__description">
                <p>Bluetooth® Smart
                Часы оснащены технологией Bluetooth®, которая предлагает энергосберегающую возможность передачи данных нажатием кнопки. С помощью Bluetooth® вы можете подключить часы к смартфону, не используя провод, и получить доступ к целому ряду полезных функций.
                Smartphone time
                Если часы подключены к смартфону, время устанавливается автоматически и отображается текущее время, так что во всем мире.
                Сверхяркая подсветка
                При нажатии на кнопку подсветки экран ярко освещается в ультрамодный цвет.
                Устойчивость к воздействию вибрации
                Модуль часов снабжен элементами из материала alphaGEL, который еще лучше защищает часы от сотрясения и вибрации. alphaGEL представляет собой гибкую силиконовую прослойку, оказывающую амортизирующий эффект.
                Ударопрочность
                Ударопрочная конструкция защищает от ударов и вибрации.
                Устойчивость к воздействию магнитного поля
                Часы созданы с защитой от воздействия магнитных полей. 
                Солнечная батарейка
                Солнечная подзаряжающаяся батарейка обеспечивает питание часов для работы.
                Прием радиосигнала (Европа, США, Япония, Китай)
                В Европе или  Северной Америке, во многих частях Канады и Центральной Америки, Японии и Китае после настройки часов на местный часовой пояс, часы будут получать радио-сигнал калибровки, гарантирующий, что они всегда будут показывать точное время. В большинстве стран переход летнее и зимнее время также обновляется автоматически. 
                Неоновый дисплей
                Светящееся покрытие обеспечивает длительную подсветку в темное время суток после короткого воздействия света. 
                Функция мирового времени</p>
            </div>
        </div>
    </div>
</div>
