@model Binokool.Web.Models.ProductDto
<div class="container">
    <div class="row__change__product">
        <div class="row__change__product__form">
            <form asp-action="CreateProduct" method="post">
                <h1 class="text__info">Create Product</h1>
                <div class="row__form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row__form__column">
                        <label asp-for="Name" class="control__label">Name</label>
                    </div>
                    <div class="row__form__column">
                        <input asp-for="Name" class="form__control"/><br>
                        <span asp-validation-for="Name" class="text__danger"></span>
                    </div>
                </div>
                <div class="row__form">
                    <div class="row__form__column">
                        <label asp-for="CategoryName" class="control__label">CategoryName</label>
                    </div>
                    <div class="row__form__column">
                        <input asp-for="CategoryName" class="form__control"/><br>
                        <span asp-validation-for="CategoryName" class="text__danger"></span>
                    </div>
                </div>
                <div class="row__form">
                    <div class="row__form__column">
                        <label asp-for="Description" class="control__label">Description</label>
                    </div>
                    <div class="row__form__column">
                        <textarea asp-for="Description" class="form__control"></textarea><br>
                        <span asp-validation-for="Description" class="text__danger"></span>
                    </div>
                </div>
                <div class="row__form">
                    <div class="row__form__column">
                        <label asp-for="ImgUrl" class="control__label">ImgUrl</label>
                    </div>
                    <div class="row__form__column">
                        <input asp-for="ImgUrl" class="form__control"/><br>
                        <span asp-validation-for="ImgUrl" class="text__danger"></span>
                    </div>
                </div>
                <div class="row__form">
                    <div class="row__form__column">
                        <label asp-for="Price" class="control__label">Price</label>
                    </div>
                    <div class="row__form__column">
                        <input asp-for="Price" class="form__control"/><br>
                        <span asp-validation-for="Price" class="text__danger"></span>
                    </div>
                </div>
                <div class="row__form">
                    <div class="row__form__column">
                        <a asp-action="GetProducts" class="button">Back to List</a>
                    </div>
                    <div class="row__form__column">
                        <input type="submit" value="Create" class="button" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
