/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a, a:link, a:visited {
	color:white;
	text-decoration: none;
}
a:hover  {
    color: inherit;
    text-decoration: none;
}
nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@media (max-width:1000px){
	.header__search{
		display: none;
	}
}

@media (max-width:942px){

}

@media (max-width:451px){
	.header__logo{
		display: none;
	}
	.description{
		display: none;
	}
}

body{
	font-family: CURSIVE;
	color:white;
}

.logo{
	font-family:Post No Bills Jaffna, sans-serif;
	font-size: 40px;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
	background: linear-gradient(45deg,#000000, #2d2c2f);
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1268px;
    margin:0 auto;
	padding: 0 50px;
}

.header__row{
    display: flex;
    margin: 10px;
	justify-content: start;
	justify-content: center;
	align-items: center;
}

.header__search{
	text-align: center;
	flex:1 1 auto;
}

.header__column{
	margin: 20px;
}

.search__input{
	background-image: url(../img/icon/search_icon.svg);
	background-repeat: no-repeat;
	background-position: 16px;
	width: 500px;
	height: 50px;
	box-sizing: border-box;
	border-radius: 20px;
	font-size: 20px;
	padding-left: 40px;
	background-color: rgba(240,240,243,.3);
}

.search__input:hover{
	background-color: rgba(196, 196, 201, 0.881);
}

.search__input:focus{
	background-color: #a2c7df;
}

.header__shopping__card{
	text-align: center;
	font-size: 12px;
}

.content__info{
	background-image: url(../img/backgroud_image/man.png);
	background-position: center center;
	background-size: cover;
	background-color: #1a191b;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.content__info__column{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content__info__column__row__border{
	border:5px white solid;
	padding: 50px;
}

.content__info__column__row{
	margin: 40px;
	text-align: center;
	max-width: 400px;
}

.content__info__column__row > p{
	font-size:16px;
	line-height: 24px;
}

.content__info__border__bottom{
	border-bottom:5px white solid;
	margin-bottom: 10px;
}

.content {
	background-color: rgba(201, 201, 201, 0.285);
	border-radius: 20px;
	flex: 1 1 auto;
	margin-bottom: 35px;
}

.product__title{
	text-align: center;
	padding: 30px 0px;
	font-size: 40px;
	color: #1a191b;
}

.product__row{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.product__column__item{
	background-color: #000000;
	flex:0 1 21%;
	border-radius: 20px;
	margin: 20px;
}

.product__column__item__row{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product__column__item__row__column{
	text-align: center;
	padding: 10px;
}

a.button {
	padding: 5px;
	border-radius: 5px;
	background-color: #d4d2d7;
	text-align: center;
	font-size: 15px;
	color: black;
	border: 2px transparent solid;
}

a.button:hover {
	border: 2px #d4d2d7 solid;
	background-color: #473a5a;
	color: white;
	cursor: pointer;
}

a.button:active {
	color: rgb(171, 54, 54);
	border: 2px rgb(171, 54, 54) solid;
}
 
.product__column__item__row__column > p{
	padding: 10px;
}

.about__company{
	background-image:url(../img/backgroud_image/footer_man.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

}

.about__company__row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.about__company__column{
	margin: 20px;
	max-width: 100%;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
}

.footer__copyright{
	text-align: center;
	margin: 20px;
}

.img__item{
	max-width: 200px;
}

.price{
	color:darksalmon;
}

.icon{
	text-align:center;
	font-size: 14px;
	max-width:70px;
}

.around__the__clock{
	color: rgb(173, 32, 32);
}

.header__column > a:hover{
	color: #a2c7df;
	transition: color .25s ease;
}

.header__column > a:active {
	color: #e0898f;
}

.text__danger{
	color:brown;
}