<div class="content__info">
    <div class="container">
        <div class="content__info__column">
            <div class="content__info__column__row content__info__column__row__border">
                <h2 class="logo content__info__border__bottom">BINOKOOL</h2>
                <h3>Минск</h3>
            </div>
            <div class="content__info__column__row description">
                <p>Binokool – беларусский бренд, под которым выпускается качественная и простая по крою одежда. Главные отличия – это сдержанность, минимализм, натуральные материалы в составе изделий. Но в то же время, стиль Binokool узнаваем во всем мире, оригинален и одновременно</p>
            </div>
        </div>
    </div>
</div>